button{
    background-color: #FF6E86;
    color: #fff;
    border: none;
    border-radius: 7px;
    font-weight: bold;
    padding: 5px 15px;
    font-size: 12px;
    
}

@media only screen and (min-width: 768px) {
    button{
        color: #fff;
        border: none;
        border-radius: 7px;
        font-weight: bold;
        padding: 15px 30px;
        width: 170px;
        height: 60px;
        font-size: 25px;
        &:hover{
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        }
    }
}
