.detailsMain {
    background-color: #FF6E86;
    border-radius: 15px;
    width: 100%;
    padding: 1em 2em 2em 2em;
    margin-top: 2vh;
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.5) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    h2 {
        margin: 1em 0 0.5em 0;
    }

    p {
        line-height: 25px;
        font-weight: bold;
    }

    button {
        margin-top: 10px;
        background-color: white;
        border-radius: 10px;
        border-style: none;
        padding: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #FF6E86;
    }

    img {
        width: 100%;
        /* border-radius: 15px; */

    }
    .detailinstruction {
        padding-left: 20px;
        span {
            line-height: 1.5em;
            padding-left: -10px;
        }
    }
}

@media only screen and (min-width: 768px){
    .detailsMain {
        padding: 3em;
        h2 {
            font-size: 2em;
        }
        p, li {
            font-size: 1.2em;
            line-height: 1.5em;
        }
        a{
            .youTubeBtn {
                margin-top: 3vh;
                width: 100%;
                font-size: 1.5em;
            }
        }
    
        .detailsSection {
            display: grid;
            grid-template-columns: 2.5fr 1fr;
            gap: 3em;
        }
        .a {
            grid-column-start: 2;
        }
        .b {
            grid-row-start: 1;
        }
    }
}


@media only screen and (min-width: 1180px){
    .detailsMain {
        padding: 3em;
        h2 {
            font-size: 2.5em;
        }
        p, li {
            font-size: 1.5em;
            line-height: 5vh;
        }
        a{
            .youTubeBtn {
                margin-top: 3vh;
                width: 100%;
                font-size: 1.5em;
            }
        }
    
        .detailsSection {
            display: grid;
            grid-template-columns: 2.5fr 1fr;
            gap: 3em;
        }
        .a {
            grid-column-start: 2;
        }
        .b {
            grid-row-start: 1;
        }
    }
}