.detailsMain {
    background-color: #FF6E86;
    border-radius: 15px;
    width: 100%;
    padding: 0.93em;
    margin-top: 2vh;
    color: #fff;

    h2 {
        margin: 1em 0 0.5em 0;
    }

    p {
        line-height: 25px;
        font-weight: bold;
    }

    button {
        margin-top: 10px;
        background-color: white;
        border-radius: 10px;
        border-style: none;
        padding: 10px;
        font-size: 14px;
        font-weight: bold;
        color: #FF6E86;
    }

    img {
        width: 100%;
        /* border-radius: 15px; */

    }

    .detailinstruction {
        padding-left: 20px;

        span {
            line-height: 25px;
            padding-left: -10px;
        }

    }
}